<!DOCTYPE html>
<title>Classy - find courses that are meeting right now</title>
<link rel="stylesheet" href="{{url_for("static", filename='style.css')}}">

<div class=container>
  <main>
    <p class="main-text">
      <big>
        {% if random_course %}
          {{ random_course.attributes.subjectCourse }}
          is meeting <em>right now</em> in
          {% if meeting_time.buildingName %}
            {{ meeting_time.buildingName }}.
          {% else %}
            {{ meeting_time.building }} {{ meeting_time.room }}.
          {% endif %}
        {% else %}
          There are no {{ subject_name }} courses meeting right now. 😞
        {% endif %}
      </big>
    </p>

    {% if random_course %}
      <div class="course-info">
        <p>
          Title:
          {{ random_course.attributes.subjectCourse }}
          {{ random_course.attributes.courseTitle }}
        </p>

        <p>
          Instructor:
          {% for faculty in random_course.attributes.faculty if faculty.primaryFaculty %}
            {{ faculty.displayName }}
          {% else %}
            no instructor
          {% endfor %}
        </p>

        <p>
          Meeting times:
          <ul>
            {% for meet in random_course.attributes.meetingTimes
                  if meet.startTime is not none %}
              <li>
                {% if meet.monday %}M{% endif -%}
                {% if meet.tuesday %}T{% endif -%}
                {% if meet.wednesday %}W{% endif -%}
                {% if meet.thursday %}Th{% endif -%}
                {% if meet.friday %}F{% endif %}

                {{ meet.startTime }}-{{ meet.endTime }}
                {{ meet.building }} {{ meet.room }}
              </li>
            {% endfor %}
          </ul>
        </p>
      </div>
    {% endif %}

    <p>
      <small>
        {% if number_of_courses > 1 %}
          {% if number_of_courses == 2 %}
            There is one other {{ subject_name }} course
          {% else %}
            There are {{ number_of_courses - 1 }} other {{ subject_name }} courses
          {% endif %}
          meeting right now.
          <a href="">Try again</a>?
          Or try a <a href="?subject=random">different subject</a>.
        {% elif number_of_courses == 1 %}
          That's about it for {{ subject_name }} courses right now.
          Try again later or
          try a <a href="?subject=random">different subject</a>.
        {% elif number_of_courses == 0 %}
          Sorry. Try again later
          or try a <a href="?subject=random">different subject</a>.
        {% endif %}
      </small>
    </p>

    {% if error %}
      <p>
        <small>
          (Got an error: {{ error.message }})
        </small>
      </p>
    {% endif %}
  </main>

  <footer>
    <p>
      <small>
        Provided for entertainment only |
        <a href="https://github.com/osu-mist/classy-demo">View the source code</a>
      </small>
    </p>
  </footer>
</div>
